@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body {
  margin: 0px;
  font-family: "Nanum Gothic", sans-serif;
}

div,
input,
textarea,
section {
  box-sizing: border-box;
}

.top-wrapper {
  width: 100%;
  background: linear-gradient(#1374f3 50%, #2932ad);
}

.top-container {
  max-width: 1000px;
  height: 350px;
  display: flex;
  padding-top: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.top-container-left {
  color: white;
  height: 100%;
  width: 50%;
  padding: 0 5%;
}

.top-container-right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 0 8%;
}

.container-text {
  font-size: 12px;
  margin: 0px;
}

.text-sm {
  font-size: 8px;
}

.margin-zero {
  margin: 0;
}

.margin-centre {
  margin: 0 auto;
}

.margin-bt-5 {
  margin-bottom: 5px;
}

.btn-general {
  background-color: rgb(59, 52, 52);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  font-size: 10px;
}

.btn-more:hover {
  background-color: white;
  color: rgb(59, 52, 52);
  font-size: 12px;
  transition: 0.1s;
}

.btn-Portfolio:hover {
  background-color: #2932ad;
  color: white;
  font-size: 12px;
  transition: 0.1s;
}

.img-phone {
  height: 250px;
}
.second-container {
  padding: 40px 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-container {
  background-color: #2932ad;
  height: 250px;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-container-subject {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.third-container-icons {
  display: flex;
  padding: 30px 0;
}

.third-container-icon {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-icon {
  color: #2932ad;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 70px;
  margin-bottom: 10px;
}

.forth-container {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.portfolios-container {
  display: flex;
  max-width: 800px;
  height: 500px;
  flex-wrap: wrap;
  color: white;
  margin: 0 auto;
}

.portfolio-wrapper {
  width: 50%;
  position: relative;
}

.portfolio-base {
  width: 50%;
  padding: 20px 40px;
  background-size: cover;
  position: relative;
}

.portfolio-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-effect:hover {
  border: 20px solid;
  transition: 0.5s;
}

.portfolio-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/Portfolio_LandingPage/img/portfolio-1.jpg");
}
.portfolio-2 {
  background-image: url("/Portfolio_LandingPage/img/portfolio-2.jpg");
}
.portfolio-3 {
  background-image: url("/Portfolio_LandingPage/img/portfolio-3.jpg");
}
.portfolio-4 {
  background-image: url("/Portfolio_LandingPage/img/portfolio-4.jpg");
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.footer-container-icons {
  display: flex;
  padding: 20px 0;
}

.footer-icon {
  background-color: #2932ad;
  color: white;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .top-container {
    height: auto;
  }

  .top-container-left {
    width: 100%;
    text-align: center;
  }

  .top-container-right {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
  }
}
